{{ if (or .Paginator.HasPrev .Paginator.HasNext) }}
<div class="flex flex-row items-center justify-center mt-6 gap-2">
  {{if .Paginator.HasPrev}}
  <a href="{{.Paginator.Prev.URL}}"
    class="inline-flex size-8 items-center justify-center bg-surface-variant rounded border rtl:rotate-180">
    <span class="sr-only">Prev Page</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
        clip-rule="evenodd" />
    </svg>
  </a>
  {{else}}
  <button disabled
    class="inline-flex size-8 items-center justify-center rounded border border-neutral-500 rtl:rotate-180">
    <span class="sr-only">Prev Page</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
        clip-rule="evenodd" />
    </svg>
  </button>
  {{end}}

  <p class="text-on-surface">
    {{ .Paginator.PageNumber }}
    <span class="mx-0.25">/</span>
    {{ .Paginator.TotalPages }}
  </p>

  {{ if .Paginator.HasNext }}
  <a href="{{ .Paginator.Next.URL }}"
    class="inline-flex size-8 items-center justify-center bg-surface-variant rounded border rtl:rotate-180">
    <span class="sr-only">Next Page</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
        clip-rule="evenodd" />
    </svg>
  </a>
  {{else}}
  <button disabled
    class="inline-flex size-8 items-center justify-center rounded border border-neutral-500 rtl:rotate-180">
    <span class="sr-only">Next Page</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
        clip-rule="evenodd" />
    </svg>
  </button>
  {{end}}
</div>
{{ end }}